@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";
@import 'bootstrap-social/bootstrap-social.css';






*{
  border: 0; 
	margin: 0;
	padding: 0;
}

body {
  color: #000000;
  font-family: 'Slabo 27px', serif;
}

#nav {
  font-size: 125%;

}

.social-btn{


}



.page {
  color: #4A4444;
  font-family: 'Noto Sans', sans-serif;
	margin: 10%;
}

#about1, #portfolio1, #contact1 {
 min-height:100px;
 padding-top: 0px;
 color: #4A4444;
 font-family: 'Noto Sans', sans-serif;
 margin: 10%;
 text-align: center;
}

smooth {
	font-size: 100%;
	text-align: center;
}

.jumbotron {
  background: none;
}

/*---Start Parallax---*/

.parallax {     
	background: url("https://i.postimg.cc/BnqFrMNY/pexels-pixabay-373076.jpg") no-repeat fixed 100%; 
  color: rgba(0, 0, 0, 0.7);
 
  background-size: cover;
  text-shadow: #ffff;
  font-family:  Noto Sans', sans-serif;
  font-size: 300%;
  text-align: center;
  text-transform: uppercase;
  padding-left: 15%;
  padding-right: 15%;
}
 

.parallax-inner {
	padding-top: 20%;
	padding-bottom: 15%;
          
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

a.btn.btn-info:hover {
font-size:35%;
background: black;
}


/*---End Parallax---*/




.social-icon{
 text-align: center;
 margin: 2px, 2px, 2px , 2px;
}



footer {
  font-size: 150%;
  
}
